{% load static %}

<nav class="antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 py-4">
      <div class="flex items-center justify-between">
  
        <div class="flex items-center space-x-4">
          <div class="shrink-0">
            <a href="/" title="" class="inline-flex py-4 space-x-2 items-center">
              <img class="block w-auto h-10" src="{% static 'assets/logo page.png' %}" alt="Moonbite Logo" />
              <p class="text-base text-color-3 font-semibold">ムーンバイト</p>
            </a>
          </div>
  
          <ul class="hidden lg:flex items-center justify-start gap-6 md:gap-4 py-3 sm:justify-center">
            <li>
              <a href="#" title="" class="flex text-sm font-semibold py-2 px-4 rounded-md hover:bg-color-3 text-color-4 hover:text-color-2 transition-all ease-in">
                About
              </a>
            </li>
            <li class="shrink-0">
              <a href="#" title="" class="flex text-sm font-semibold py-2 px-4 rounded-md hover:bg-color-3 text-color-4 hover:text-color-2 transition-all ease-in">
                Blog
              </a>
            </li>
            <li class="shrink-0">
              <a href="{% url 'item_list' %}" title="" class="flex text-sm font-semibold py-2 px-4 rounded-md hover:bg-color-3 text-color-4 hover:text-color-2 transition-all ease-in">
                Shop
              </a>
            </li>
            <li class="shrink-0">
                <a href="#" title="" class="flex text-sm font-semibold py-2 px-4 rounded-md hover:bg-color-3 text-color-4 hover:text-color-2 transition-all ease-in">
                  Contact
                </a>
              </li>
          </ul>
        </div>
        
        <div class="flex items-center lg:space-x-2">
          {% if user.is_authenticated %}
          <a href="{% url 'view_cart' %}" class="inline-flex items-center rounded-lg justify-center p-2 text-sm font-medium leading-none text-color-4 hover:text-color-3 transition-all ease-in">
            <span class="sr-only">
              Cart
            </span>
            <svg class="w-5 h-5 lg:me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
            </svg> 
            <span class="hidden sm:flex">My Cart</span>
          </a>
  
          <button id="userDropdownButton1" data-dropdown-toggle="userDropdown1" type="button" class="inline-flex items-center rounded-lg justify-center p-2 text-sm font-medium leading-none text-color-4 hover:text-color-3 transition-all ease-in">
            <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>              
            {{ user.username }}
            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg> 
          </button>
  
          <div id="userDropdown1" class="hidden z-10 w-56 divide-y divide-gray-100 overflow-hidden overflow-y-auto rounded-lg bg-white antialiased shadow dark:divide-gray-600 dark:bg-gray-700">
            <ul class="p-2 text-start text-sm font-medium text-gray-900 dark:text-white">
              <li><a href="#" title="" class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"> My Account </a></li>
            </ul>
        
            <div class="p-2 text-sm font-medium text-gray-900 dark:text-white">
              <a href="{% url 'logout' %}" title="" class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"> Sign Out </a>
            </div>
          </div>
          {% else %}
          <a href="{% url 'login' %}" class="text-sm font-semibold mx-4 hover:text-color-3 transition-all ease-in">
            Login
          </a> 
          <a href="{% url 'signup' %}" class="text-sm py-2 px-4 mx-2 bg-color-4 rounded-md text-color-2 hover:bg-color-3 transition-all ease-in">
            Register
          </a> 
          {% endif %}
          {%comment%}  
          <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
          {%endcomment%}
          <button type="button" data-collapse-toggle="ecommerce-navbar-menu-1" aria-controls="ecommerce-navbar-menu-1" aria-expanded="false" class="inline-flex lg:hidden items-center justify-center hover:bg-gray-100 rounded-md dark:hover:bg-gray-700 p-2 text-gray-900 dark:text-white">
            <span class="sr-only">
              Open Menu
            </span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
            </svg>                
          </button>
        </div>
          
      </div>
  
      <div id="ecommerce-navbar-menu-1" class="bg-gray-50 dark:bg-gray-700 dark:border-gray-600 border border-gray-200 rounded-lg py-3 hidden px-4 mt-4">
        <ul class="text-gray-900 text-sm font-medium dark:text-white space-y-3">
          <li>
            <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Home</a>
          </li>
          <li>
            <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Best Sellers</a>
          </li>
          <li>
            <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Gift Ideas</a>
          </li>
          <li>
            <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Games</a>
          </li>
          <li>
            <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Electronics</a>
          </li>
          <li>
            <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Home & Garden</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>